src/CarrierServices/CarrierServiceInterface Solution/SprintCarrierServiceInterface/XSDs/checkNumberPortingEligibility.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by LEE VAN AALSBURG (SPRINT) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://integration.sprint.com/interfaces/checkNumberPortingEligibility/v1/checkNumberPortingEligibility.xsd" targetNamespace="http://integration.sprint.com/interfaces/checkNumberPortingEligibility/v1/checkNumberPortingEligibility.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.4">
	<!-- Date               Author                         Version    Change                                                                                                        Rel      SR# -->
	<!-- 10/27/2009      Priya Logantha             1.1         Changed data type for estimatedDueDate from xs:date to xs:dateTime    CS#343370 -->
	<!-- 11/09/2009      Steve Heichelheim        1.3         added elements and simple types for PJ000173                                        GBL10.2  PJ000173 -->
	<!--12/07/2009       Jocelen Silva                1.4.        Added prepaidInfo str in request and mdnPrepaidInfo str in response      GBL10.2  PJ001210-->
	<!--02/15/2010       Judy Kauffmann           2.0         Added simplePortInd to response.                                                              GBL10.3    PJ002700  -->
	<!--02/17/2010       Judy Kauffmann           2.1         Moved simplePortInd to request.                                                                 GBL10.3    PJ002700  -->
	<!--03/11/2010       Ibrahim ElKhatib            2.2         NetworkIndicatorCode (element networkInd):                                             GBL10.2 CS # 374587 - Roll-Forward from GBL10.2-->
	<!--                                                                            Removed enumeration. Added Length restriction Length =1-->
	<!--03/16/2010       Ibrahim ElKhatib           2.3         Changed elements (rateCenter, eligibilityMessage, rateCenterState,          GBL10.2 CS # 374587 - Roll-Forward from GBL10.2-->
	<!--                                                                           serviceProviderId, serviceProviderName) in response to optional. -->
	<!--04/20/2010       Ibrahim ElKhatib           2.4        Documentation only update to ResellerIndicator (true/false replacing Y/N) GBL10.2 SD#8,991,732-->
	<xs:element name="checkNumberPortingEligibility" type="tns:CheckNumberPortingEligibilityType"/>
	<xs:element name="checkNumberPortingEligibilityResponse" type="tns:CheckNumberPortingEligibilityResponseType"/>
	<xs:complexType name="CheckNumberPortingEligibilityType">
		<xs:sequence>
			<xs:element name="banInfo" type="tns:SearchCriteriaType" minOccurs="0"/>
			<xs:element name="mdnSearchList" type="tns:MdnSearchListType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CheckNumberPortingEligibilityResponseType">
		<xs:sequence>
			<xs:element name="mdnList" type="tns:MdnListType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InternalLrnInfoType">
		<xs:sequence>
			<xs:element name="internalLrnInd" type="tns:FetchInformationFlagType">
				<xs:annotation>
					<xs:documentation>Contains LRN indicator 
Valid values: 
true
false</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MdnDetailType">
		<xs:sequence>
			<xs:element name="mdn" type="tns:MobileDirectoryNumberString">
				<xs:annotation>
					<xs:documentation>Mobile Directory Number (MDN) is the actual phone number one would dial to reach a specific mobile phone.
Prior to Wireless Number Portability, MDN was the same number as the Mobile Identification Number (MIN) for many mobile phones. But now that MDNs can be ported (moved) to other carriers, MDN and MIN will be different for ported numbers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="urbanFleet" type="tns:UrbanFleetType" minOccurs="0"/>
			<xs:element name="eligibilityResult" type="tns:PortEligibilityFlag"/>
			<xs:element name="eligibilityCode" type="tns:PortEligibilityCode">
				<xs:annotation>
					<xs:documentation>Port Eligibility Code is a specific code giving the reason a MDN is not eligible for porting or distinguishes between certain conditions for MDNs that are eligible. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eligibilityMessage" type="tns:PortEligibilityCodeDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Port Eligibility Code Description contains a textual message describing the Port Eligibility Code value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rateCenter" type="tns:RateCenter" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A Rate Center is a company designated geographic location assigned vertical and horizontal coordinates between which airline mileages are determined for the charging of private lines.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrn" type="tns:LocalRoutingNumberEns" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Local Routing Number is used to route an LNP (Local Number Portability) call to the switch that owns the LRN.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rateCenterState" type="tns:UspsStateAbbreviation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A rate center State Abbreviation Code is the set of characters that are selected from a State or Protectorate name and represent the name of a State or US Protectorate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="serviceProviderId" type="tns:ServiceProviderIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Service Provider Identifier returned by the external number porting system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="serviceProviderName" type="tns:ServiceProviderName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Service Provider (Common Carrier Name) returned by the external number porting system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resellerInd" type="tns:ResellerIndicator" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether the requested Ported In MDN is from Sprint reseller or not.
Valid values:
'true' - reseller
'false' - not a reseller
This field will be populated CDMA network only</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csa" type="tns:CommunicationServiceAreaId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Communication Service Area Identifier uniquely identifies an instance of a geographic area (CSA) served by a communication service provider, which can be broken down into regional, metropolitan, district and smaller sections called ''leaves.''</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="estimatedDueDate" type="tns:EstimatedPortDueDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The estimated due date of the number port.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="networkInfo" type="tns:NetworkInfoType">
				<xs:annotation>
					<xs:documentation>Structure containing network information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eligibilityCodeForCdma" type="tns:PortEligibilityCode">
				<xs:annotation>
					<xs:documentation>Port Eligibility Code is a specific code giving the reason a MDN is not eligible for porting or distinguishes between certain conditions for MDNs that are eligible. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eligibilityMessageForCdma" type="tns:PortEligibilityCodeDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Port Eligibility Code Description contains a textual message describing the Port Eligibility Code value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrnForCdma" type="tns:LocalRoutingNumberEns" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Local Routing Number is used to route an LNP (Local Number Portability) call to the switch that owns the LRN.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resolutionInfoList" type="tns:ResolutionInfoListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Structure containing resolution information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mdnPrepaidInfo" type="tns:MdnPrepaidInfoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MdnListType">
		<xs:sequence>
			<xs:element name="mdnDetail" type="tns:MdnDetailType" maxOccurs="50"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MdnSearchDetailType">
		<xs:sequence>
			<xs:element name="mdn" type="tns:MobileDirectoryNumberString">
				<xs:annotation>
					<xs:documentation>Mobile Directory Number (MDN) is the actual phone number one would dial to reach a specific mobile phone.
Prior to Wireless Number Portability, MDN was the same number as the Mobile Identification Number (MIN) for many mobile phones. But now that MDNs can be ported (moved) to other carriers, MDN and MIN will be different for ported numbers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="urbanFleet" type="tns:UrbanFleetType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Structure containing the urban and fleet information of the requested PTN number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shippingInfo" type="tns:ShippingInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Structure identifying the shipping delivery details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subBrandInfo" type="tns:SubBrandInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Structure containing Sub-brand information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="internalLrnInfo" type="tns:InternalLrnInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Structure containing Internal LRN information – should be populated only when internal LRN information is required</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="prepaidInfo" type="tns:PrepaidIndType" minOccurs="0"/>
			<xs:element name="simplePortInd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Simple port indicator
Y – Simple port
N – Non-simple port
Defaults to N when not sent

Note: this indicator should not be sent in WS since all WS ports are simple ports
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MdnSearchListType">
		<xs:sequence>
			<xs:element name="mdnSearchDetail" type="tns:MdnSearchDetailType" maxOccurs="50"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NetworkInfoType">
		<xs:sequence>
			<xs:element name="networkInd" type="tns:NetworkIndicatorCode">
				<xs:annotation>
					<xs:documentation>Network Indicator Code specifies the network being used.  
I - iDEN; 
C - CDMA; 
B - Both</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResolutionInfoListType">
		<xs:sequence>
			<xs:element name="resolutionInfo" type="tns:ResolutionInfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Structure containing resolution information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResolutionInfoType">
		<xs:sequence>
			<xs:element name="lrnType" type="tns:LocalRoutingNumberTypeCodeType">
				<xs:annotation>
					<xs:documentation>Indicates the type of internal LRN.
For example: A for ATA.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resolutionCode" type="tns:LocalRoutingNumberResolutionCodeType">
				<xs:annotation>
					<xs:documentation>Gives a specific code for the reason a PTN is not eligible, or distinguishes between certain conditions for PTNs that are eligible. This field applies to the appropriate internal LRN type.
It has an Int value it represents the RES_CODE in the ELIG_RESOLUTION_CODE table).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eligibilityLrnInd" type="tns:InternalLocalRoutingNumberFlagType">
				<xs:annotation>
					<xs:documentation>Indicates whether the requested PI PTN is eligible for internal LRN. 
Valid values:
true
false</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eligMsg" type="tns:LocalRoutingNumberResolutionDescriptionType">
				<xs:annotation>
					<xs:documentation>Text description of resolutionCode value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="internalLrnNumber" type="tns:LocalRoutingNumberEns">
				<xs:annotation>
					<xs:documentation>Internal LRN number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchCriteriaType">
		<xs:choice>
			<xs:element name="ban" type="tns:BillingAccountNumberEns">
				<xs:annotation>
					<xs:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subscriberId" type="tns:SubscriptionIdentifierEns">
				<xs:annotation>
					<xs:documentation>Subscription Identifier uniquely identifies an instance of SUBSCRIPTION</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mdn" type="tns:MobileDirectoryNumberString">
				<xs:annotation>
					<xs:documentation>Mobile Directory Number (MDN) is the actual phone number one would dial to reach a specific mobile phone.
Prior to Wireless Number Portability, MDN was the same number as the Mobile Identification Number (MIN) for many mobile phones. But now that MDNs can be ported (moved) to other carriers, MDN and MIN will be different for ported numbers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ufmi" type="tns:UrbanFleetMemberIdentifierString">
				<xs:annotation>
					<xs:documentation>Urban Fleet Member Identifier (UFMI) is the combinaiton of the Urban Area Id, Fleet Id, and Member Id representing an address in a format recognized within iDEN Push-To-Talk (PTT) or Direct Connect. For example, a UFMI number of 500•600•700, translates to 500 is the Urban Area ID, 600 is the Fleet, and 700 is the Member.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deviceSerialNumber" type="tns:EquipmentSerialNumberString">
				<xs:annotation>
					<xs:documentation>Equipment Serial Number is an identifier used by the device to communicate (broadcast) its identity to the wireless mobile network.

Equipment Serial Number is one of the following:

Electronic Serial Number (ESN);

Mobile Equipment IDentifier (MEID);

International Mobile Equipment Identfier (IMEI);

Subscriber Identify Module (SIM);

Manufacturer Serial Number (MSN);

Airave Media Access Control Identifier (MAC ID)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ipAddress" type="tns:InternetProtocolAddressString">
				<xs:annotation>
					<xs:documentation>An Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the Internet use IP addresses to route traffic and establish connections among themselves.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="imsi" type="tns:InternationalMobileSubscriberIdentityString">
				<xs:annotation>
					<xs:documentation>International Mobile Subscriber Identity (IMSI) is a unique number associated with all GSM and Universal Mobile Telecommunications System (UMTS) network mobile phone users. It is stored in the Subscriber Identity Module (SIM) inside the phone and is sent by the phone to the network. It is also used to acquire other details of the mobile in the Home Location Register (HLR) or as locally copied in the Visitor Location Register. In order to avoid the subscriber being identified and tracked by eavesdroppers on the radio interface, the IMSI is sent as rarely as possible and a randomly generated TMSI is sent instead.
The IMSI is used in any mobile network that interconnects with other networks, in particular CDMA and EVDO networks as well as GSM nets. This number is provisioned in the phone directly or in the R-UIM card (a CDMA analogue equivalent to a SIM card in GSM)
An IMSI is usually 15 digits long, but can be shorter (for example MTN South Africa's IMSIs are 14 digits). The first 3 digits are the Mobile Country Code (MCC), and is followed by the Mobile Network Code (MNC), either 2 digits (European standard) or 3 digits (North American standard). The remaining digits are the Mobile Subscriber Identification Number (MSIN) within the network's customer base.
The IMSI conforms to the International Telecommunication Union (ITU) E.212 numbering standard</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nai" type="tns:NetworkAccessIdentifierString">
				<xs:annotation>
					<xs:documentation>Network Access Identifier (NAI) is a standard way of identifying users who request access to a network. 

The standard syntax is"user@realm". </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalImsi" type="tns:InternationalMobileSubscriberIdentityString">
				<xs:annotation>
					<xs:documentation>International Mobile Subscriber Identity (IMSI) is a unique number associated with all GSM and Universal Mobile Telecommunications System (UMTS) network mobile phone users. It is stored in the Subscriber Identity Module (SIM) inside the phone and is sent by the phone to the network. It is also used to acquire other details of the mobile in the Home Location Register (HLR) or as locally copied in the Visitor Location Register. In order to avoid the subscriber being identified and tracked by eavesdroppers on the radio interface, the IMSI is sent as rarely as possible and a randomly generated TMSI is sent instead.
The IMSI is used in any mobile network that interconnects with other networks, in particular CDMA and EVDO networks as well as GSM nets. This number is provisioned in the phone directly or in the R-UIM card (a CDMA analogue equivalent to a SIM card in GSM)
An IMSI is usually 15 digits long, but can be shorter (for example MTN South Africa's IMSIs are 14 digits). The first 3 digits are the Mobile Country Code (MCC), and is followed by the Mobile Network Code (MNC), either 2 digits (European standard) or 3 digits (North American standard). The remaining digits are the Mobile Subscriber Identification Number (MSIN) within the network's customer base.
The IMSI conforms to the International Telecommunication Union (ITU) E.212 numbering standard</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hppttId" type="tns:HighPerformancePushToTalkIDString">
				<xs:annotation>
					<xs:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat  Push-To-Talk technology. The HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ShippingInfoType">
		<xs:choice>
			<xs:element name="numberDeliveryDays" type="tns:NumberOfDeliveryDays">
				<xs:annotation>
					<xs:documentation>Shipping delivery number of days</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vendorCode" type="tns:VendorCode">
				<xs:annotation>
					<xs:documentation>Shipping vendor code </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SubBrandInfoType">
		<xs:sequence>
			<xs:element name="subBrand" type="tns:SubscriberBrandTypeCodeType">
				<xs:annotation>
					<xs:documentation>Valid values:
CMU 
CPG 
Eligibility rules for CDMA MU/PAYGO based on a restricted range of CSAs logic. 
Any other value (even not existing sub brand) – CDMA MU/PAYGO rules won’t be performed.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UrbanFleetType">
		<xs:sequence>
			<xs:element name="urbanId" type="tns:UrbanAreaIdentifierInt">
				<xs:annotation>
					<xs:documentation>Urban Area Identifier identifies an urban area in the UFMI.  It is the first element of the DirectConnect UFMI number. The format of the UFMI number is: Urban Area Id•Fleet Id•Member Id. Example 164•100•3441.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fleetId" type="tns:FleetIdentifierInt">
				<xs:annotation>
					<xs:documentation>Fleet Identifier is the second element of the DirectConnect UFMI number. The format of the UFMI number is: Urban User Id•Fleet Id•Member Id. Example 164•100•3441.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrepaidIndType">
		<xs:sequence>
			<xs:element name="checkPrepaidInd" type="tns:FetchInformationFlagType">
				<xs:annotation>
					<xs:documentation>Indicate if the prepaidInd will be returned in the response.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MdnPrepaidInfoType">
		<xs:sequence>
			<xs:element name="prepaidInd" type="tns:SubscriberPrepaidStatusCodeType">
				<xs:annotation>
					<xs:documentation>Indicate if a MDN is related to a prepaid or postpaid account. Will be set to the SUB_PREPAID_IND value that existed in the SUBSCRIBER table when the PEC failed with the reason that the MDN is already active or suspended in the system.
Valid values:
N – Prepaid subscriber
O – Postpaid subscriber
</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!---->
	<!--MVM/Shared Simple Types-->
	<xs:simpleType name="BillingAccountNumberEns">
		<xs:annotation>
			<xs:documentation>Billing Account Number uniquely identifies an instance of Billing Account used to accrue charges for invoicing.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommunicationServiceAreaId">
		<xs:annotation>
			<xs:documentation>Communication Service Area Identifier uniquely identifies an instance of a geographic area (CSA) served by a communication service provider, which can be broken down into regional, metropolitan, district and smaller sections called ''leaves.''</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EquipmentSerialNumberString">
		<xs:annotation>
			<xs:documentation>Equipment Serial Number holds the identifier used by the device to communicate (broadcast) its identity to the wireless mobile network.  &#13;
&#13;
Network Device Identifier will contain one of the following: &#13;
Electronic Serial Number (ESN); &#13;
Mobile Equipment IDentifier (MEID);&#13;
International Mobile Equipment Identfie (IMEI);&#13;
Subscriber Identify Module (SIM);&#13;
Media Access Control Identifier (MAC ID)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EstimatedPortDueDate">
		<xs:annotation>
			<xs:documentation>The estimated due date of the number port.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="FetchInformationFlagType">
		<xs:annotation>
			<xs:documentation>Fetch Information Flag is a boolean flag that indicates whether for the api to request the information associated to the request structure.
true - the API will perform request for the associated information
false - the API will request the assoociated information</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="FleetIdentifierInt">
		<xs:annotation>
			<xs:documentation>Fleet Identifier is the second element of the DirectConnect UFMI number. The format of the UFMI number is: Urban User Id•Fleet Id•Member Id. Example 164•100•3441.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:totalDigits value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HighPerformancePushToTalkIDString">
		<xs:annotation>
			<xs:documentation>High Performance Push To Talk Identifier (HPPTTID) is the identifier of a Subscription utilizing the QChat  Push-To-Talk techniology. HPPTTID is constructed in the username@domain URI format.  The username will be a MDN or UFMI based number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InternationalMobileSubscriberIdentityString">
		<xs:annotation>
			<xs:documentation>International Mobile Subscriber Identity (IMSI) holds a unique identifier allocated to each mobile subscriber in a GSM and UMTS network. It consists of a MCC (Mobile Country Code), a MNC (Mobile Network Code) and a MSIN (Mobile Station Identification Number).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InternetProtocolAddressString">
		<xs:annotation>
			<xs:documentation>Electronic Address represents the character string of the electronic address.</xs:documentation>
			<xs:documentation>An Internet Protocol Address is the numerical address by which a location in the Internet is identified. Computers on the Internet use IP addresses to route traffic and establish connections among themselves.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocalRoutingNumberEns">
		<xs:annotation>
			<xs:documentation>Local Routing Number is used to route an LNP (Local Number Portability) call to the switch that owns the LRN.</xs:documentation>
			<xs:documentation>Local Routing Number is used to route an LNP (Local Number Portability) call to the switch that owns the LRN.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MobileDirectoryNumberString">
		<xs:annotation>
			<xs:documentation>The method of identifying telephone trunks in the public network of North America, called World Numbering Zone 1 by the ITU-T. the Plan has 3 ways of identifying phone numbers in North America -- a 3-digit area code, a 3-digit exchange or central office code, and 4-digit subscriber code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NetworkAccessIdentifierString">
		<xs:annotation>
			<xs:documentation>Network Access Identifier holds the concatenation of the a user name and realm.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NetworkIndicatorCode">
		<xs:annotation>
			<xs:documentation>Network Indicator Code specifies the network being used.  I -&gt; iDEN; C -&gt; CDMA; B -&gt; Both</xs:documentation>
			<xs:documentation>Network Indicator Code specifies the network being used.  I -&gt; iDEN; C -&gt; CDMA; B -&gt; Both</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumberOfDeliveryDays">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PortEligibilityCode">
		<xs:annotation>
			<xs:documentation>Port Eligibility Code is a specific code giving the reason a MDN is not eligible for porting or distinguishes between certain conditions for MDNs that are eligible. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PortEligibilityCodeDescription">
		<xs:annotation>
			<xs:documentation>Port Eligibility Code Description contains a textual message describing the Port Eligibility Code value.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PortEligibilityFlag">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="RateCenter">
		<xs:annotation>
			<xs:documentation>A Rate Center is a company designated geographic location assigned vertical and horizontal coordinates between which airline mileages are determined for the charging of private lines.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResellerIndicator">
		<xs:annotation>
			<xs:documentation>Indicates whether the requested Ported In MDN is from Sprint reseller or not.
Valid values:
'true' - reseller
'false' - not a reseller
This field will be populated CDMA network only</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="ServiceProviderIdentifier">
		<xs:annotation>
			<xs:documentation>Service Provider Identifier returned by the external number porting system.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceProviderName">
		<xs:annotation>
			<xs:documentation>Service Provider (Common Carrier Name) returned by the external number porting system.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubscriberBrandTypeCodeType">
		<xs:annotation>
			<xs:documentation>Subscriber Brand Type Code is a 3 byte code denoting which brand type the subscriber belongs to.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubscriptionIdentifierEns">
		<xs:annotation>
			<xs:documentation>Subscription Identifier Ensemble uniquely identifies an instance of SUBSCRIPTION in the Ensemble system.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UrbanAreaIdentifierInt">
		<xs:annotation>
			<xs:documentation>Urban Area Identifier identifies an urban area in the UFMI.  It is the first element of the DirectConnect UFMI number. The format of the UFMI number is: Urban Area Id•Fleet Id•Member Id. Example 164•100•3441.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:totalDigits value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UrbanFleetMemberIdentifierString">
		<xs:annotation>
			<xs:documentation>Urban Fleet Member Identifier String contains the concatenation of the Urban Identifier,'*' Fleet Identifier, '*' and Member IDentifier used to identify the Direct Connect Subscriber in the iDen network. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="23"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UspsStateAbbreviation">
		<xs:annotation>
			<xs:documentation>A United States Postal Service (USPS) State Abbreviation Code is the set of characters that are selected from a State or Protectorate name and specified by the USPS to represent the name of a State or US Protectorate for the purpose of mail delivery.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VendorCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!---->
	<!--New Simple Types-->
	<xs:simpleType name="InternalLocalRoutingNumberFlagType">
		<xs:annotation>
			<xs:documentation>Internal Local Routing Number Flag Indicates whether the requested PTN is eligible as an internal local routing number.
Values:
true - PTN is eligible as an internal Local Routing Number
false - PTN is not eligible as an internal Local Routing Number </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="LocalRoutingNumberResolutionCodeType">
		<xs:annotation>
			<xs:documentation>Local Routing Number Eligibility Resolution Code designates the reason a PTN is not eligible, or distinguishes between certain conditions for PTNs that are eligible. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocalRoutingNumberResolutionDescriptionType">
		<xs:annotation>
			<xs:documentation>Local Routing Number Eligibility Resolution Description is a text description of  the reason a PTN is not eligible, or distinguishes between certain conditions for PTNs that are eligible. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocalRoutingNumberTypeCodeType">
		<xs:annotation>
			<xs:documentation>Local Routing Number Type Code indicates the type of internal LRN.
For example: A for ATA</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubscriberPrepaidStatusCodeType">
		<xs:annotation>
			<xs:documentation>Subscriber Prepaid Status Code indicates if the PTN is related to a specific type of Prepaid or Postpaid subscriber.
Values:
N – New prepaid
B – Existing prepaid
O – Existing postpaid
</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!---->
</xs:schema>
