src/CarrierServices/CarrierServiceInterface Solution/SprintCarrierServiceInterface/XSDs/doActivateNow.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com) by Sprint Employee (SPRINT) --><!--Main document view.--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://nextel.com/ovm" targetNamespace="http://nextel.com/ovm" elementFormDefault="qualified" attributeFormDefault="unqualified">	<xs:include schemaLocation="ovm-common.xsd"/>	<!-- Activate Now Request -->	<xs:complexType name="ActivateNowRequest">		<xs:sequence>			<xs:choice>				<xs:sequence>					<xs:element name="meid" type="MEID"/>					<xs:element name="icc-id" type="IntegratedCircuitCardIdentifierType" minOccurs="0">						<xs:annotation>							<xs:documentation>Integrated Circuit Card Identifier is a uniqe identifier of the smart card used in mobile terminals in CDMA networks.</xs:documentation>						</xs:annotation>					</xs:element>				</xs:sequence>				<xs:element name="hsn" type="HSN"/>				<xs:element name="mac-id" type="MACID"/>			</xs:choice>			<xs:choice>				<xs:element name="reference-ptn" type="PhoneNumber"/>				<xs:element name="account-number" type="AccountNumber"/>				<xs:element name="subscriber-id" type="RequiredStringMax20"/>			</xs:choice>			<xs:choice>				<xs:element name="activate-device" type="xs:boolean"/>				<xs:element name="start-port-in" type="xs:boolean"/>			</xs:choice>		</xs:sequence>		<!--Activate Now request message.-->	</xs:complexType>	<xs:element name="doActivateNow" type="ActivateNowRequest"/>	<!-- Activate Now Response -->	<xs:complexType name="ActivateNowResponse">		<xs:sequence>			<xs:element name="success" type="xs:boolean"/>		</xs:sequence>		<!--Activate Now response message.-->	</xs:complexType>	<xs:element name="doActivateNowResponse" type="ActivateNowResponse"/></xs:schema>