src/CarrierServices/CarrierServiceInterface Solution/SprintCarrietServiceTests/Service References/SprintService/SprintService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://membershipwireless.com/services/sprint/v1/" xmlns:s1="http://nextel.com/ovm" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://nextel.com/oldovm" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://membershipwireless.com/services/sprint/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://membershipwireless.com/services/sprint/v1/">
      <s:import namespace="http://nextel.com/ovm" />
      <s:import namespace="http://nextel.com/oldovm" />
      <s:element name="ActivateUpgrade">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secretPin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="answer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ssn" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="customerType" type="s1:CustomerType" />
            <s:element minOccurs="1" maxOccurs="1" name="orderType" type="s1:OrderType" />
            <s:element minOccurs="1" maxOccurs="1" name="handsetCount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="wirelessLineId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateUpgradeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivateUpgradeResult" type="tns:ActivationUpgradeResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ActivationUpgradeResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:CarrierResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ActivationFee" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="ActivationFeeForHandset" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="ActivationResult" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ActivationStatus" type="tns:ActivationStatus" />
              <s:element minOccurs="1" maxOccurs="1" name="CallerLineNumber" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CallerMemberName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ErrorCodeEnum" type="tns:ServiceResponseCode" />
              <s:element minOccurs="0" maxOccurs="1" name="ErrorInfo" type="tns:ArrayOfErrorInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="MasterLockCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mdn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Meid" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MeidHex" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Msid" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NewErrorInfo" type="tns:ArrayOfErrorInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryErrorMessageBrief" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryErrorMessageLong" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RequestXml" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseSubCodeDescription" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ServiceResponseSubCodeEnum" type="tns:ServiceResponseSubCode" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseSubCodeName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SprintErrorCode" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintErrorCodeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintOrderId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintResponseAdvice" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintResponseMessage" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SubscriberId" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CarrierResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimaryErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" />
          <s:element minOccurs="1" maxOccurs="1" name="ServiceResponseSubCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ActivationStatus">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="RequestSubmitted" />
          <s:enumeration value="Success" />
          <s:enumeration value="PartialSuccess" />
          <s:enumeration value="Failure" />
          <s:enumeration value="Error" />
          <s:enumeration value="Manual" />
          <s:enumeration value="Canceled" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ServiceResponseCode">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="Failure" />
          <s:enumeration value="Timeout" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfErrorInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ErrorInfo" nillable="true" type="s2:ErrorInfo" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ServiceResponseSubCode">
        <s:restriction base="s:string">
          <s:enumeration value="DefaultValue" />
          <s:enumeration value="AvInvalidAddress" />
          <s:enumeration value="CC_EXISTING_CUSTOMER" />
          <s:enumeration value="CC_CREDIT_DECLINED" />
          <s:enumeration value="CC_STATUS_UNKNOWN" />
          <s:enumeration value="CC_CREDIT_APPROVED" />
          <s:enumeration value="CCError" />
          <s:enumeration value="CC_RECENT_CANCEL" />
          <s:enumeration value="CC_DENIED_FLEXPAY" />
          <s:enumeration value="CC_ACCOUNT_DELINQUENT" />
          <s:enumeration value="CL_CUSTOMER_FOUND" />
          <s:enumeration value="ClCustomerNotFound" />
          <s:enumeration value="CL_UNSUPPORTED_CUSTOMER_TYPE" />
          <s:enumeration value="CL_ACCOUNT_LOCKED" />
          <s:enumeration value="CL_ACCOUNT_NOPIN" />
          <s:enumeration value="CL_INVALID_PIN" />
          <s:enumeration value="CcMDNDoesnotExist" />
          <s:enumeration value="CC_PENDING" />
          <s:enumeration value="CC_REVIEW" />
          <s:enumeration value="EU_SUCCESS" />
          <s:enumeration value="EU_PARTIAL" />
          <s:enumeration value="EU_FAILED" />
          <s:enumeration value="EU_NOT_ELIGIBLE" />
          <s:enumeration value="EU_PIN_NOT_MATCHED" />
          <s:enumeration value="EU_SUCCESS_NO_COMMISSION" />
          <s:enumeration value="EU_ICC_ID_NOT_FOUND_INVENTORY" />
          <s:enumeration value="NpaNoMarketDataForZip" />
          <s:enumeration value="InputParseError" />
          <s:enumeration value="ActSuccessfulActivation" />
          <s:enumeration value="ACT_PARTIAL_HANDSET_ACTIVATION" />
          <s:enumeration value="ACT_PARTIAL_SERVICE_CONFLICT" />
          <s:enumeration value="ACT_MANUAL_ONLY" />
          <s:enumeration value="ACT_FAIL_HANDSET" />
          <s:enumeration value="ACT_FAIL" />
          <s:enumeration value="ACT_NO_SERVICES" />
          <s:enumeration value="ACT_UNKNOWN" />
          <s:enumeration value="ACT_INVALID_ORDER_NUMBER" />
          <s:enumeration value="ACT_RATEPLAN_MATCHES" />
          <s:enumeration value="ACT_REQUESTED" />
          <s:enumeration value="ActNoIccId" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CheckCredit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="billingName" type="tns:Name" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceZipCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contactInfo" type="tns:Contact" />
            <s:element minOccurs="0" maxOccurs="1" name="billingContactCredentials" type="tns:PersonalCredentials" />
            <s:element minOccurs="1" maxOccurs="1" name="numberOfLines" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="question" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="answer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Name">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleInitial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Prefix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Contact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CellPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EveningPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkPhoneExt" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonalCredentials">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Dob" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdExpiration" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IdType" type="tns:IdentificationType" />
          <s:element minOccurs="0" maxOccurs="1" name="SSN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="IdentificationType">
        <s:restriction base="s:string">
          <s:enumeration value="DL" />
          <s:enumeration value="MILI" />
          <s:enumeration value="PASS" />
          <s:enumeration value="TRIB" />
          <s:enumeration value="ALIE" />
          <s:enumeration value="DISA" />
          <s:enumeration value="ID" />
          <s:enumeration value="OTHER" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CheckCreditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckCreditResult" type="tns:SprintCreditCheckResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SprintCreditCheckResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:CreditCheckResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ErrorCodeEnum" type="tns:ServiceResponseCode" />
              <s:element minOccurs="0" maxOccurs="1" name="NewErrorInfo" type="tns:ArrayOfErrorInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseSubCodeDescription" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ServiceResponseSubCodeEnum" type="tns:ServiceResponseSubCode" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CreditCheckResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:CarrierResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CreditApplicationNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CreditCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CreditStatus" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CustomerAccountNumber" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Deposit" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="NumberOfLines" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="CheckCreditExistingAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secretPin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="answer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ssn" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="customerType" type="s1:CustomerType" />
            <s:element minOccurs="1" maxOccurs="1" name="orderType" type="s1:OrderType" />
            <s:element minOccurs="1" maxOccurs="1" name="handsetCount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contact" type="tns:Contact" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtendedZipCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="tns:Name" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckCreditExistingAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckCreditExistingAccountResult" type="tns:SprintCheckCreditExistingAccountResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SprintCheckCreditExistingAccountResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:CreditCheckResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="tns:Address" />
              <s:element minOccurs="1" maxOccurs="1" name="CallerLineNumber" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CallerMemberName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ErrorCodeEnum" type="tns:ServiceResponseCode" />
              <s:element minOccurs="0" maxOccurs="1" name="ErrorInfo" type="tns:ArrayOfErrorInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="NewErrorInfo" type="tns:ArrayOfErrorInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryErrorMessageBrief" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryErrorMessageLong" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseSubCodeDescription" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ServiceResponseSubCodeEnum" type="tns:ServiceResponseSubCode" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseSubCodeName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SprintErrorCode" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintErrorCodeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintResponseAdvice" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintResponseMessage" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="CustomerLookupByMDN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secretKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ssn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="questionAnswer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orderType" type="s1:OrderType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerInquiryLine">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AccountStatus" type="tns:AccountStatusCode" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="tns:Address" />
          <s:element minOccurs="0" maxOccurs="1" name="CarrierAccountId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContractStart" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ContractStartSpecified" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EquipmentUpgradeAvailable" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ExistingLineMonthlyCharges" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPrimaryLine" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Mdn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlanCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrentImei" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingAddress" type="tns:Address" />
          <s:element minOccurs="0" maxOccurs="1" name="UpgradeAvailableDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UpgradeAvailableSpecified" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="WirelessLineType" type="tns:WirelessLineType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AccountStatusCode">
        <s:restriction base="s:string">
          <s:enumeration value="Closed" />
          <s:enumeration value="Cancelled" />
          <s:enumeration value="Operational" />
          <s:enumeration value="Tentative" />
          <s:enumeration value="Suspended" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="WirelessLineType">
        <s:restriction base="s:string">
          <s:enumeration value="Undefined" />
          <s:enumeration value="Line" />
          <s:enumeration value="Data" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfCustomerInquiryLine">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CustomerInquiryLine" nillable="true" type="tns:CustomerInquiryLine" />
        </s:sequence>
      </s:complexType>
      <s:element name="CustomerLookupByMDNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerLookupByMDNResult" type="tns:SprintCustomerInquiryResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SprintCustomerInquiryResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:CustomerInquiryResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CallerLineNumber" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CallerMemberName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ErrorCodeEnum" type="tns:ServiceResponseCode" />
              <s:element minOccurs="0" maxOccurs="1" name="ErrorInfo" type="tns:ArrayOfErrorInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="NewErrorInfo" type="tns:ArrayOfErrorInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryErrorMessageBrief" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryErrorMessageLong" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ResponseXml" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseSubCodeDescription" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ServiceResponseSubCodeEnum" type="tns:ServiceResponseSubCode" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseSubCodeName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SprintErrorCode" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintErrorCodeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintResponseAdvice" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintResponseMessage" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TransactionOrderId" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CustomerInquiryResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:CarrierResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AuthorizedUserName1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AuthorizedUserName2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CustomerAccountNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CustomerAccountPassword" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CustomerInquiryLines" type="tns:ArrayOfCustomerInquiryLine" />
              <s:element minOccurs="1" maxOccurs="1" name="ExistingAccountMonthlyCharges" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="LinesActive" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="LinesApproved" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="LinesAvailable" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="PlanCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Question" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="WirelessAccountType" type="tns:WirelessAccountType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="WirelessAccountType">
        <s:restriction base="s:string">
          <s:enumeration value="Undefined" />
          <s:enumeration value="Individual" />
          <s:enumeration value="MultiLine" />
          <s:enumeration value="Family" />
        </s:restriction>
      </s:simpleType>
      <s:element name="NpaLookupByZip">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zipCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NpaInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MarketCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ngp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Npa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NpaNxx" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfNpaInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NpaInfo" nillable="true" type="tns:NpaInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="NpaLookupByZipResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NpaLookupByZipResult" type="tns:NpaResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NpaResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:CarrierResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="NpaSet" type="tns:ArrayOfNpaInfo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="NpaNxx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zipCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NpaNxxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NpaNxxResult" type="tns:SprintNpaResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SprintNpaResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:NpaResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CallerLineNumber" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CallerMemberName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ErrorCodeEnum" type="tns:ServiceResponseCode" />
              <s:element minOccurs="0" maxOccurs="1" name="ErrorInfo" type="tns:ArrayOfErrorInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="NewErrorInfo" type="tns:ArrayOfErrorInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryErrorMessageBrief" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryErrorMessageLong" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseSubCodeDescription" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ServiceResponseSubCodeEnum" type="tns:ServiceResponseSubCode" />
              <s:element minOccurs="1" maxOccurs="1" name="SprintErrorCode" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintErrorCodeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintResponseAdvice" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintResponseMessage" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:complexType name="SoapBaseResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProviderErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProviderErrorText" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="QuerySystemStatusResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:SoapBaseResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="PingResponse" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="tns:QuerySystemStatusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResendPin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Mdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResendPinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResendPinResult" type="tns:DTOAuthenticationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DTOAuthenticationResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:CarrierResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CallerLineNumber" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CallerMemberName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ErrorCodeEnum" type="tns:ServiceResponseCode" />
              <s:element minOccurs="0" maxOccurs="1" name="ErrorInfo" type="tns:ArrayOfErrorInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="NewErrorInfo" type="tns:ArrayOfErrorInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="NotificationMethod" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryErrorMessageLong" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryErrorMessageBrief" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ResendSuccess" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseSubCodeDescription" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ServiceResponseSubCodeEnum" type="tns:ServiceResponseSubCode" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseSubCodeName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SprintErrorCode" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintErrorCodeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintResponseAdvice" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintResponseMessage" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ValidateAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addressToValidate" type="tns:Address" />
            <s:element minOccurs="1" maxOccurs="1" name="addressType" type="tns:AddressEnum" />
            <s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="AddressEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Shipping" />
          <s:enumeration value="Billing" />
          <s:enumeration value="PPU" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfExtendedAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ExtendedAddress" nillable="true" type="tns:ExtendedAddress" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExtendedAddress">
        <s:complexContent mixed="false">
          <s:extension base="tns:Address">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AddressType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AptDesignator" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AptNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CountyName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DeliveryPointBarCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DirectionalPrefix" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DirectionalSuffix" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="HouseNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StreetType" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ValidateAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateAddressResult" type="tns:SprintAddressValidationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SprintAddressValidationResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:AddressValidationResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CallerLineNumber" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CallerMemberName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ErrorCodeEnum" type="tns:ServiceResponseCode" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryErrorMessageBrief" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryErrorMessageLong" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseSubCodeDescription" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ServiceResponseSubCodeEnum" type="tns:ServiceResponseSubCode" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseSubCodeName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SprintErrorCode" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintErrorCodeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintResponseAdvice" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintResponseMessage" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AddressValidationResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:CarrierResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PossibleAddressMatch" type="tns:ArrayOfExtendedAddress" />
              <s:element minOccurs="0" maxOccurs="1" name="ValidAddress" type="tns:ExtendedAddress" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ValidatePlansAndOptions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="validatePlansAndOptionsRequest" type="tns:ValidatePlansAndOptionsRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ValidatePlansAndOptionsRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:Address" />
          <s:element minOccurs="1" maxOccurs="1" name="AddressType" type="tns:AddressEnum" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidatePlansAndOptionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidatePlansAndOptionsResult" type="tns:SprintPlansAndOptionsValidationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SprintPlansAndOptionsValidationResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:AddressValidationResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CallerLineNumber" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CallerMemberName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ErrorCodeEnum" type="tns:ServiceResponseCode" />
              <s:element minOccurs="0" maxOccurs="1" name="ErrorInfo" type="tns:ArrayOfErrorInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="NewErrorInfo" type="tns:ArrayOfErrorInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryErrorMessageLong" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryErrorMessageBrief" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseSubCodeDescription" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ServiceResponseSubCodeEnum" type="tns:ServiceResponseSubCode" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseSubCodeName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SprintErrorCode" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintErrorCodeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintResponseAdvice" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintResponseMessage" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ValidatePortIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mdnList" type="tns:ArrayOfMDNSet" />
            <s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMDNSet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MDNSet" nillable="true" type="tns:MDNSet" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MDNSet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsPortable" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="MDN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceZipCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidatePortInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidatePortInResult" type="tns:SprintValidatePortInResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SprintValidatePortInResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ValidatePortInResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CallerLineNumber" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CallerMemberName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ErrorCodeEnum" type="tns:ServiceResponseCode" />
              <s:element minOccurs="0" maxOccurs="1" name="ErrorInfo" type="tns:ArrayOfErrorInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="NewErrorInfo" type="tns:ArrayOfErrorInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryErrorMessageLong" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryErrorMessageBrief" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseSubCodeDescription" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ServiceResponseSubCodeEnum" type="tns:ServiceResponseSubCode" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseSubCodeName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SprintErrorCode" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintErrorCodeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintResponseAdvice" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SprintResponseMessage" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ValidatePortInResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:CarrierResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MDNSet" type="tns:ArrayOfMDNSet" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nextel.com/ovm">
      <s:simpleType name="CustomerType">
        <s:restriction base="s:string">
          <s:enumeration value="BUSINESS" />
          <s:enumeration value="INDIVIDUAL" />
          <s:enumeration value="CORPORATE_BUSINESS" />
          <s:enumeration value="CORPORATE_INDIVIDUAL" />
          <s:enumeration value="GOVERNMENT_INDIVIDUAL" />
          <s:enumeration value="GOVERNMENT_BUSINESS" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="OrderType">
        <s:restriction base="s:string">
          <s:enumeration value="NEW" />
          <s:enumeration value="ADD_ON" />
          <s:enumeration value="UPGRADE" />
          <s:enumeration value="REPLACE" />
          <s:enumeration value="BOOST" />
          <s:enumeration value="FAC" />
          <s:enumeration value="SERVICE_ONLY" />
          <s:enumeration value="ADDON_PPTOFAMILY" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ErrorInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="error-type" type="s:unsignedInt" />
          <s:element minOccurs="0" maxOccurs="1" name="error-code" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="error-sub-name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="error-details" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nextel.com/oldovm">
      <s:complexType name="ErrorInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="error-type" type="s:unsignedInt" />
          <s:element minOccurs="0" maxOccurs="1" name="error-code" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="error-sub-name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="error-details" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ActivateUpgradeSoapIn">
    <wsdl:part name="parameters" element="tns:ActivateUpgrade" />
  </wsdl:message>
  <wsdl:message name="ActivateUpgradeSoapOut">
    <wsdl:part name="parameters" element="tns:ActivateUpgradeResponse" />
  </wsdl:message>
  <wsdl:message name="CheckCreditSoapIn">
    <wsdl:part name="parameters" element="tns:CheckCredit" />
  </wsdl:message>
  <wsdl:message name="CheckCreditSoapOut">
    <wsdl:part name="parameters" element="tns:CheckCreditResponse" />
  </wsdl:message>
  <wsdl:message name="CheckCreditExistingAccountSoapIn">
    <wsdl:part name="parameters" element="tns:CheckCreditExistingAccount" />
  </wsdl:message>
  <wsdl:message name="CheckCreditExistingAccountSoapOut">
    <wsdl:part name="parameters" element="tns:CheckCreditExistingAccountResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerLookupByMDNSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerLookupByMDN" />
  </wsdl:message>
  <wsdl:message name="CustomerLookupByMDNSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerLookupByMDNResponse" />
  </wsdl:message>
  <wsdl:message name="NpaLookupByZipSoapIn">
    <wsdl:part name="parameters" element="tns:NpaLookupByZip" />
  </wsdl:message>
  <wsdl:message name="NpaLookupByZipSoapOut">
    <wsdl:part name="parameters" element="tns:NpaLookupByZipResponse" />
  </wsdl:message>
  <wsdl:message name="NpaNxxSoapIn">
    <wsdl:part name="parameters" element="tns:NpaNxx" />
  </wsdl:message>
  <wsdl:message name="NpaNxxSoapOut">
    <wsdl:part name="parameters" element="tns:NpaNxxResponse" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="ResendPinSoapIn">
    <wsdl:part name="parameters" element="tns:ResendPin" />
  </wsdl:message>
  <wsdl:message name="ResendPinSoapOut">
    <wsdl:part name="parameters" element="tns:ResendPinResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateAddressSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateAddress" />
  </wsdl:message>
  <wsdl:message name="ValidateAddressSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateAddressResponse" />
  </wsdl:message>
  <wsdl:message name="ValidatePlansAndOptionsSoapIn">
    <wsdl:part name="parameters" element="tns:ValidatePlansAndOptions" />
  </wsdl:message>
  <wsdl:message name="ValidatePlansAndOptionsSoapOut">
    <wsdl:part name="parameters" element="tns:ValidatePlansAndOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="ValidatePortInSoapIn">
    <wsdl:part name="parameters" element="tns:ValidatePortIn" />
  </wsdl:message>
  <wsdl:message name="ValidatePortInSoapOut">
    <wsdl:part name="parameters" element="tns:ValidatePortInResponse" />
  </wsdl:message>
  <wsdl:portType name="SprintServiceSoap">
    <wsdl:operation name="ActivateUpgrade">
      <wsdl:input message="tns:ActivateUpgradeSoapIn" />
      <wsdl:output message="tns:ActivateUpgradeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckCredit">
      <wsdl:input message="tns:CheckCreditSoapIn" />
      <wsdl:output message="tns:CheckCreditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckCreditExistingAccount">
      <wsdl:input message="tns:CheckCreditExistingAccountSoapIn" />
      <wsdl:output message="tns:CheckCreditExistingAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerLookupByMDN">
      <wsdl:input message="tns:CustomerLookupByMDNSoapIn" />
      <wsdl:output message="tns:CustomerLookupByMDNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NpaLookupByZip">
      <wsdl:input message="tns:NpaLookupByZipSoapIn" />
      <wsdl:output message="tns:NpaLookupByZipSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NpaNxx">
      <wsdl:input message="tns:NpaNxxSoapIn" />
      <wsdl:output message="tns:NpaNxxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResendPin">
      <wsdl:input message="tns:ResendPinSoapIn" />
      <wsdl:output message="tns:ResendPinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateAddress">
      <wsdl:input message="tns:ValidateAddressSoapIn" />
      <wsdl:output message="tns:ValidateAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePlansAndOptions">
      <wsdl:input message="tns:ValidatePlansAndOptionsSoapIn" />
      <wsdl:output message="tns:ValidatePlansAndOptionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePortIn">
      <wsdl:input message="tns:ValidatePortInSoapIn" />
      <wsdl:output message="tns:ValidatePortInSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SprintServiceSoap" type="tns:SprintServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActivateUpgrade">
      <soap:operation soapAction="http://membershipwireless.com/services/sprint/v1/ActivateUpgrade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCredit">
      <soap:operation soapAction="http://membershipwireless.com/services/sprint/v1/CheckCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCreditExistingAccount">
      <soap:operation soapAction="http://membershipwireless.com/services/sprint/v1/CheckCreditExistingAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerLookupByMDN">
      <soap:operation soapAction="http://membershipwireless.com/services/sprint/v1/CustomerLookupByMDN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NpaLookupByZip">
      <soap:operation soapAction="http://membershipwireless.com/services/sprint/v1/NpaLookupByZip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NpaNxx">
      <soap:operation soapAction="http://membershipwireless.com/services/sprint/v1/NpaNxx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://membershipwireless.com/services/sprint/v1/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResendPin">
      <soap:operation soapAction="http://membershipwireless.com/services/sprint/v1/ResendPin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateAddress">
      <soap:operation soapAction="http://membershipwireless.com/services/sprint/v1/ValidateAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePlansAndOptions">
      <soap:operation soapAction="http://membershipwireless.com/services/sprint/v1/ValidatePlansAndOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePortIn">
      <soap:operation soapAction="http://membershipwireless.com/services/sprint/v1/ValidatePortIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SprintServiceSoap12" type="tns:SprintServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActivateUpgrade">
      <soap12:operation soapAction="http://membershipwireless.com/services/sprint/v1/ActivateUpgrade" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCredit">
      <soap12:operation soapAction="http://membershipwireless.com/services/sprint/v1/CheckCredit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCreditExistingAccount">
      <soap12:operation soapAction="http://membershipwireless.com/services/sprint/v1/CheckCreditExistingAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerLookupByMDN">
      <soap12:operation soapAction="http://membershipwireless.com/services/sprint/v1/CustomerLookupByMDN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NpaLookupByZip">
      <soap12:operation soapAction="http://membershipwireless.com/services/sprint/v1/NpaLookupByZip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NpaNxx">
      <soap12:operation soapAction="http://membershipwireless.com/services/sprint/v1/NpaNxx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://membershipwireless.com/services/sprint/v1/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResendPin">
      <soap12:operation soapAction="http://membershipwireless.com/services/sprint/v1/ResendPin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateAddress">
      <soap12:operation soapAction="http://membershipwireless.com/services/sprint/v1/ValidateAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePlansAndOptions">
      <soap12:operation soapAction="http://membershipwireless.com/services/sprint/v1/ValidatePlansAndOptions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePortIn">
      <soap12:operation soapAction="http://membershipwireless.com/services/sprint/v1/ValidatePortIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SprintService">
    <wsdl:port name="SprintServiceSoap" binding="tns:SprintServiceSoap">
      <soap:address location="http://localhost/SprintCarrierServiceInterface/SprintService.asmx" />
    </wsdl:port>
    <wsdl:port name="SprintServiceSoap12" binding="tns:SprintServiceSoap12">
      <soap12:address location="http://localhost/SprintCarrierServiceInterface/SprintService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>